body {
    background-color: black;
}


h1 {
    color: whitesmoke;
    font-size: 20pt;
    background-color:#383636;
    padding: 15px;
    border-radius: 10px;
}

#displayDiv {
    display: flex;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100pt;
    font-weight: 500;
    padding: 10px;
    margin-top: 100px;
    flex-wrap: wrap;
}


#displayDivInfo {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383636;
    padding: 10px;
    margin-top: 50px;
    border-radius: 15px;
}



@media (min-width: 620px) {
    #editMode {
        display: none;
    }
}

@media (max-width: 621px) {
    
    #displayDiv {
    display: flex;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30pt;
    font-weight: 500;
    padding: 10px;
    margin-top: 100px;
    flex-wrap: wrap;
}


#editMode {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

h1 {
    display: none;
}

#texting {
  background-color: rgb(10, 10,10);
  border: 1px solid darkslategray;
  padding: 15px;
  width: 165px;
  font-size: 17px;
  border-radius: 1em;
  color: whitesmoke;
}

#texting:focus {
  background-color: rgb(10, 10,10);
  border: 0px solid rgb(20,20,20);
  padding: 15px;
    width: 165px;
  font-size: 17px;
  outline: none;
  border-radius: 1em;
  color: whitesmoke;
}

#editHeaderMode {
 border: 1px solid darkslategray;
 padding: 15px;
 font-size: 17px;
 text-align: center;
 width: 270px;
 border-radius: 15px;
 color: #757575;
 background-color: rgb(10, 10, 10);  
}

.top-container-edit-m {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   align-items: center;
}

#showHideButton {
 border: 1px solid darkslategray;
 padding: 15px;
 width: 100px;
 font-size: 17px;
 border-radius: 15px;
 color: #757575;
 background-color: rgb(10, 10, 10);  
}

#showHideButton:hover {
 border: 1px solid gray;
 padding: 15px;
 font-size: 17px;
 border-radius: 20px;
 width: 95px;
 color: #b5b0b0;
 background-color: rgb(10, 10, 10);  
}


}


.outputContainerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}